/* ==================== */
/* Container Properties */
/*===================== */
/*
--flex-direction
--justify-content 
--flex-wrap
--align-items
--align-content 
*/


/* ==================== */
/* Flex Item Properties */
/* ==================== */
/* 
--order
--flex
--flex-grow
--flex-shrink
--align-self
*/

/* @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


.box {
  font-size: 10px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  /* 1w. There needs to be a width in order for you to notice flex-wrap. If we don't use flex wrap no matter how big we try to make our boxes the flex container doesn't allow it.  */
  /* width: 300px; */
  /* outline: solid 1px blue; */
 /* } */

/* .box-1 {background: #e51400;}
.box-2 {background: #fa6800;}
.box-3 {background: #f0a30a;}
.box-4 {background: #e3c800;}
.box-5 {background: #a4c400;}
.box-6 {background: #60a917;}
.box-7 {background: #00aba9;}
.box-8 {background: #1ba1e2;} 
.box-9 {background: #aa00ff;} 

.container {
    display: flex;
    border: 10px solid black;
    height: 100vh;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
} */ 
